

<div class="container">
    <div class="row">
        <div class="card-group flex-wrap">
            {% for product in products %}
                <div class="card text-center mb-3" style="width: 18rem;">
                    <img src="https://placehold.co/200x200" class="card-img-top " alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">By {{product.author}}</p>
                        <h6 class="card-text">Synopsis</h6>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text">Amount: {{product.amount}}</div>
                            <a href="{% url 'main:edit_product' product.pk %}">
                                <button>
                                    Edit
                                </button>
                            </a>
                            <a href="{% url 'main:delete_product' product.pk %}">
                                <button>
                                    Delete
                                </button>
                            </a>
                        </li>
                    <div class="card-footer text-body-secondary">
                        Added : {{product.date_added}}
                    </div>
                </div>
            {% endfor %}
    
        </div>
    </div>
       
 
</div>