<p>Number of book entry in my collection: {{ products|length }}</p>
<table>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Description</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Date Added</th>
        <th>Actions</th>  <!-- Tambah kolom untuk aksi -->
    </tr>

    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.author }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.status }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.date_added }}</td>
            
            <td>
                <!-- Tambah tombol-tombol untuk menambah, mengurangi stok, dan menghapus produk -->
                <form method="post" action="{% url 'main:add_stock' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Tambah Stok</button>
                </form>

                <form method="post" action="{% url 'main:reduce_stock' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Kurangi Stok</button>
                </form>

                <form method="post" action="{% url 'main:delete_product' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Hapus</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
