{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class="d-flex align-items-center my-auto p-5 ">
    <div class="container">
        <div class="row-cols-1 ">
            <div class="col">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row-gap-4 ">
            <div class="col">
                <form action="" method="POST" >
                    {% csrf_token %}  
                    <div class = "container">
                        <div class="row">
                            <div class="col" >
                                <div class="form-floating my-2">
                                    <input type="text" class="form-control border-black" name="username" placeholder="Username">
                                    <label for="floatingInput">Username</label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating  my-2 ">
                                    <input type="password" class="form-control border-black " name="password" placeholder="Password">
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="btn login_btn border-black my-2  " type="submit" value="Login">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}     
                    
                Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}