{% extends 'base.html' %}

{% block content %}
<h1>My Book Collection</h1>

<h2>Name:</h2>
<p>{{name}}</p>

<h2>Class:</h2>
<p>{{class}}</p>

...

{% include 'book_table.html' %}

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<a href="{% url 'main:change_amount' %}">
    <button>
        Change Amount
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}